﻿@using Blog.App.Models.User
@inject IViewLocalizer localizer
@model RolesModel
@{
    ViewData["Title"] = "_RolesSelect";
}


<form action="@Url.Action("ChangeRole", "AccountPermissions")" method="post">

    <input type="hidden" name="userid" value="@ViewBag.Id" />
    @for (var i = 0; i < Model.Roles.Count; i++)
    {
        <div>
            <div>
                <input type="checkbox" asp-for="@Model.Roles[i].Member" />
                <input type="hidden" asp-for="@Model.Roles[i].Name" />
            </div>
            <div>
                <label asp-for="@Model.Roles[i].Member">@Model.Roles[i].Name</label>
            </div>
        </div>
    }
    <div>
        <button class="btn btn-success" type="submit" style="margin:30px">@localizer["Save"]</button>
    </div>
</form>


