﻿@model ShortDisplayBlogModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "ShortDisplayBlog";
}

<link href='@Url.Content("~/css/Shared.css")' rel="stylesheet" type="text/css" />

<div style="margin:25px;">
    <div class="title">
        <a class="title" asp-controller="Blog" asp-action="Blog" asp-route-id="@Model.Id">@Model.BlogTitle</a>
    </div>
    @if (Model.CanEditBlog)
    {
        <div>
            <a class="btn btn-default" asp-controller="Blog" asp-action="Edit" asp-route-blogid="@Model.Id">@localizer["Edit"]</a>
            <a class="btn btn-default" asp-controller="Post" asp-action="Create" asp-route-blogid="@Model.Id">@localizer["Add"]</a>
        </div>
    }
</div>




