﻿@model EditUserModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "EditUserProfile";
}

<link href='@Url.Content("~/css/Shared.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/css/EditComponents.css")' rel="stylesheet" type="text/css" />


<form action="" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Id)
    <div>
        <label class="edit-label">@localizer["Username"]</label>
        <input class="edit-component" asp-for="UserName" />
        <span class="edit-component" asp-validation-for="UserName"></span>
    </div>
    <div>
        <label class="edit-label">@localizer["Photo"]</label>
        <input type="file" accept="image/*" asp-for="PhotoPath" class="edit-component" />
    </div>
    <div>
        <label class="edit-label">@localizer["AboutMyself"]</label>
        <textarea class="edit-component" asp-for="AboutMyself"></textarea>
    </div>
    <div>
        <button class="btn btn-success" type="submit" style="margin:30px" formaction="EditProfile">@localizer["Save"]</button>
        <button class="btn btn-default" type="submit" style="margin:30px" formaction="cancel">@localizer["Cancel"]</button>
    </div>
</form>
