﻿@model UserFullDisplayModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "User";
    ViewBag.Id = Model.Id;
}


<link href='@Url.Content("~/css/InfoContainer.css")' rel="stylesheet" type="text/css" />
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src='@Url.Content("~/js/User.js")'></script>
<script type="text/javascript">
    var userid = '@Model.Id.ToString()'

</script>
<div class="info-container">
    <div>
        <partial name="UserCard" for="@Model.User" />
    </div>
    <div class="user-info">
        <p>@Model.AboutMyself</p>
        <p>@Model.Email</p>
        <div id="banbutton">
            @if (Model.CanBan)
            {
                <button class="btn btn-danger" style="margin:30px" onclick="Ban(userid)">@localizer["Ban"]</button>
            }
            @if (Model.CanRemoveFromBan)
            {
                <button class="btn btn-default" style="margin:30px" onclick="RemoveFromBan(userid)">@localizer["Remove"]</button>
            }
        </div>
        
        @if (Model.CanChangeRole)
        {
            @await Component.InvokeAsync("Roles", new { userid = Model.Id })
        }
        

    </div>
</div>
<div>
    @foreach (var blog in Model.Blogs)
    {
        <partial name="_ShortDisplayBlog.cshtml" for="@blog" />
    }
</div>

