﻿@model EditablePostModel
@inject IViewLocalizer localizer
@addTagHelper Blog.App.TagHelpers.TrimTextTagHelper, Blog.App
@{
    ViewData["Title"] = "_ShortDisplayPost";
}


<link href='@Url.Content("~/css/Shared.css")' rel="stylesheet" type="text/css" />


<div class="card">
    <div class="sidebar">
        @if (ViewBag.HideUserCard == null || !ViewBag.HideUserCard)
        {
            <partial name="UserCard" for="@Model.User" />
        }
        <p class="sidebar-info">@Model.DatePublished</p>
        @if (Model.CanEditPost)
        {
            <p class="sidebar-info"><a class="btn btn-default" asp-controller="Post" asp-action="Edit" asp-route-postid="@Model.Id">@localizer["Edit"]</a></p>
        }
    </div>
        <div class="title">
            <a max-length="100" class="title" asp-controller="Post" asp-action="Post" asp-route-id="@Model.Id">@Model.PostTitle</a>
        </div>
        <div class="content">
            <p max-length="400" id="shortPostText" shortPostText class="text">@Model.PostText</p>
            <partial name="_TagCollection" for="@Model.Tags" />
        </div>

</div>

