﻿@model EditPostModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "EditPost";
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src='@Url.Content("~/js/jquery.signalR-2.4.0.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/js/signalr.min.js")'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>  

<script  type="text/javascript">
    
    var tags = [];
    @if (Model.Tags != null)
    {
        @foreach (var tag in Model.Tags)
        {
            var value = tag.TagText;
            var id = tag.Id;
            @: tags.push(["@value", "@id"]);
        }
    }
</script>
<script src='@Url.Content("~/js/EditPost.js")'></script>

<link href='@Url.Content("~/css/Tag.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/css/EditComponents.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/css/Shared.css")' rel="stylesheet" type="text/css" />

<div id="PostTags" style="height:auto">
    @if (Model.Tags != null)
    {
        @foreach (var tag in Model.Tags)
        {
            var id = "Tag" + tag.TagText;
            var buttonId = "delete" + tag.TagText;
            <div id="@id" style="display:inline">
                <div class="tag-card nohover">
                    @tag.TagText
                </div>
                <button id="@buttonId" class="delete-tag-button" onclick="deleteTag(this.id)">X</button>
            </div>
        }
    }
    </div>

<div class="addImageDiv">
    <label>Load image from remote device</label>
    <button onclick="requestImage()" disabled id="loadImageRemoteButton">Load</button>
</div>

<div class="addImageDiv">
    <label>Load image from your computer</label>
    <input type="file" id="fileInput" />
</div>
<form action="" method="post" id="postform">
    <div>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.BlogId)
        @Html.ValidationSummary()
        <div id="FormTags" style="height:auto" class="form-group">           
        </div>
        <div>
            <label class="edit-label" for="Tags">@localizer["Tags"]</label>
            <input type="text" id="Tags" class="edit-component" style="font-size:large;" />
        </div>
        <div>
            <label class="edit-label" for="Title">@localizer["Title"]</label>
            <textarea asp-for="PostTitle" class="edit-component" style="font-size:large;height:100px;">@Model.PostTitle</textarea>
        </div>
        <div>
            <input type="hidden" name="PostText" value="" id="postTextInput"/>
            
            <div contenteditable="true" class="edit-component" id="postTextDiv">@Html.Raw(Model.PostText)</div>

            <span class="edit-component" asp-validation-for="PostText"></span>
        </div>
        
    </div>
    <div>
        <button class="btn btn-success" type="submit" style="margin:30px" formaction="save">@localizer["Save"]</button>
        <button class="btn btn-danger" type="submit" style="margin:30px" formaction="delete">@localizer["Delete"]</button>
        <button class="btn btn-default" type="submit" style="margin:30px" formaction="cancel">@localizer["Cancel"]</button>
    </div>
</form>


