﻿@model Blog.App.Models.Post.FullDisplayPostModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "FullDisplayPost";
}
@*12*@
<script src="//code.jquery.com/jquery-1.6.4.js"></script>
<script type ="text/javascript" src='@Url.Content("~/js/signalr.min.js")'></script>
<script src='@Url.Content("~/js/jquery.signalR-2.4.0.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/js/FullDisplayPost.js")'></script>
<script type="text/javascript">
    $(document).ready(function () {
        setupHubConnection(@Model.Id);
    });
</script>
<link href='@Url.Content("~/css/Shared.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/css/EditComponents.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/css/InfoContainer.css")' rel="stylesheet" type="text/css" />

<div>
    <a asp-controller="Post" asp-action="Back" style="float:left;">@localizer["Back"]</a>
    <div class="title post-title">
        <p>@Model.PostTitle</p>
    </div>
    <div class="sidebar user-full-display-post">
        <partial name="UserCard" for="User" />
        <p class="date">@Model.DatePublished</p>
    </div>
    
    <div class="content" style="height:auto; width:auto;">
        <p class="text" style="height:auto;">@Html.Raw(Model.PostText)</p>
        <partial name="_TagCollection" for="@Model.Tags" />
    </div>
    <div>
        @if (Model.CanAddComment)
        {
            <textarea id="comment" maxlength="1500" class="comment">@localizer["AddComment"]</textarea>
            <button class="btn btn-success" id="AddCommentButton" onclick="AddComment(@Model.Id)">@localizer["Add"]</button>
        }
    </div>
    <h2>Comments</h2>
    <div id="Comments">
        @foreach (var comment in Model.Comments)
        {
            <partial name="/Views/Comment/_Comment.cshtml" for="@comment" />
        }
    </div>
</div>
