﻿@model Blog.App.Models.Account.LoginViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div align="center">
    <form method="post" asp-controller="Account" asp-action="Login">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password">@localizer["Password"]</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe">@localizer["RememberMe"]</label><br />
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" value="@localizer["Login"]" />
        </div>
    </form>
</div>


