﻿@model Blog.App.Models.Account.RegisterViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Registration";
    Layout = "_Layout";
}

<div align="center">
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password">@localizer["Password"]</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm">@localizer["Confirm"]</label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="@localizer["Register"]" />
        </div>
    </form>
</div>

