﻿@model Blog.App.Models.Comment.DisplayCommentModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Comment";
}


<link href='@Url.Content("~/css/Shared.css")' rel="stylesheet" type="text/css" />
<div class="card" id="Comment@(Model.Id)">
    <div class="sidebar">
        <partial name="UserCard" for="Author" />
        <p class="date">@Model.DatePublished</p>
        @if (Model.CanDeleteComment)
        {
            <p class="sidebar-info"><button onclick="DeleteComment(@Model.Id)" class="btn btn-danger">@localizer["Delete"]</button></p>
        }
    </div>
    <div style="height:300px;" class="text">
        <p>@Model.CommentText</p>
     </div>
</div>

