﻿@using Microsoft.AspNetCore.Identity
@using Blog.Data.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IViewLocalizer localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    @RenderSection("Scripts", required: false);
}
@section Sidebar{
    @if (SignInManager.IsSignedIn(User))
    {
        <link href='@Url.Content("~/css/Layout.css")' rel="stylesheet" type="text/css" />
        <div id="sidebar" class="blog-sidebar">
            <div>
                <a class="item" asp-controller="SearchPosts" asp-action="Search">@localizer["Search"]</a>
            </div>
            <div>
                <a class="item" asp-controller="SearchPosts" asp-action="Mine">@localizer["MyPosts"]</a>
            </div>
            <div>
                <a class="item" asp-controller="Blog" asp-action="Create">@localizer["AddBlog"]</a>
            </div>
            <div>
                <a class="item" asp-controller="User" asp-action="MyProfile">@localizer["MyProfile"]</a>
            </div>
            <div>
                <a class="item" asp-controller="User" asp-action="EditProfile">@localizer["EditProfile"]</a>
            </div>
        </div>
    }
}
<div style="display:inline-block;">
    @RenderBody()
</div>








