﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>


    <environment include="Development">
        <link rel="stylesheet" href='@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")' />
        <link rel="stylesheet" href='@Url.Content("~/css/site.css")' />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href='@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")' />
        <link rel="stylesheet" href='@Url.Content("~/css/site.css")' />
    </environment>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    @RenderSection("Sidebar", required: false)
    <partial name="_CookieConsentPartial" />
    <div class="container body-content" style="left:210px;">

        @RenderBody()

        <hr />
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
