@using Microsoft.AspNetCore.Identity
@using Blog.Data.Models;
@inject IViewLocalizer localizer

@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-action="Logout" asp-controller="Account" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@localizer["Logout"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-action="Register" asp-controller="Account">@localizer["Register"]</a></li>
        <li><a asp-action="Login" asp-controller="Account">@localizer["Login"]</a></li>
    </ul>
}