﻿@model Blog.App.Models.Tag.TagModel
@{
        ViewData["Title"] = "_Tag";
        object otherTags = null;
        var additionalTags = ViewData.TryGetValue("SearchTags", out otherTags) ? otherTags : Enumerable.Empty<long>();
        string url = string.Empty;
        if (Model.IncludeSearchPosts)
        {
            url = Url.Action("Tags", "SearchPosts", new { tags = ((IEnumerable<long>)additionalTags).Concat(new[] { Model.Id }).Distinct().ToArray() });
        }
        else
        {
            url = Url.Action("Tags", "SearchPosts", new { tags = new[] { Model.Id } });
        }
}

<link href='@Url.Content("~/css/Tag.css")' rel="stylesheet" type="text/css" />
<div class="tag-card">
    <a style="color:black" href="@url">@Model.TagText</a>
</div>
