﻿@model List<TagModel>
@{
    ViewData["Title"] = "_TagCollection";
}

@if (Model != null)
{
<div style="height:auto">
    @foreach (var tag in @Model)
    {
        <partial name="_Tag.cshtml" for="@tag"/>
    }
</div>
}

