﻿@model BasicUserModel
@addTagHelper Blog.App.TagHelpers.ImgTagHelper, Blog.App
@{
    ViewData["Title"] = "UserCard";
    
}

<link href='@Url.Content("~/css/Shared.css")' rel="stylesheet" type="text/css" />

<div class="user">
    <img src="@Model.PhotoPath" default-src="nouser.jpg" height="100" width="100"/>
    <p><a asp-controller="User" asp-action="Index" asp-route-id="@Model.Id">@Model.UserName</a></p>
</div>