﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using System.Web;

@model AllPostsSearchResultModel
@{
    ViewData["Title"] = "SearchResultPage";
}

<div>
    <div>
        @foreach (var post in Model.PostCollection)
        {
            <partial name="~/Views/Post/_ShortDisplayPost.cshtml" for="@post" />
        }
    </div>
    @Html.PagedListPager((IPagedList)Model.PostCollection, page => Url.Action("All", "SearchPosts", new { page = page, username = Model.UserName, tagsorwords = HttpUtility.UrlEncode(Model.TagsOrWords), currentUserOnly = Model.CurrentUserOnly, blogid = Model.BlogId }))
</div>


