﻿@model AllPostsSearchModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "SearchPosts";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        OnDocReady();
    });

    function DisableUsername() {
        $("#UsernameInput").val('');
        $("#UsernameInput").attr('disabled', 'disabled');
    };

    function EnableUsername() {
        $("#UsernameInput").removeAttr('disabled');
    };

    function DisableCurrentUserOnly() {
        $("#OnlyCurrentUserCheckBox").prop('checked', false);
        $("#OnlyCurrentUserCheckBox").attr('disabled', 'disabled');
    };

    function EnableCurrentUserOnly() {
        $("#OnlyCurrentUserCheckBox").removeAttr('disabled');
    };

    function DisableBlogSelector() {
        $("#BlogSelector").val(0);
        $("#BlogSelector").attr('disabled', 'disabled');
    };

    function EnableBlogSelector() {
        $("#BlogSelector").removeAttr('disabled');
    };

    function OnBlogChanged() {
        var newvalue = document.getElementById("BlogSelector").value;
        if (newvalue != 0) {
            DisableCurrentUserOnly();
            DisableUsername();
        }
        else {
            EnableCurrentUserOnly();
            EnableUsername();
        }
    };

    function OnCurrentUserOnlyChanged() {
        var newvalue = $("#OnlyCurrentUserCheckBox").is(":checked");
        if (newvalue) {
            DisableUsername();
            DisableBlogSelector();
        } else {
            EnableUsername();
            EnableBlogSelector();
        }
    };

    function OnDocReady() {
        var newvalue = $("#OnlyCurrentUserCheckBox").is(":checked");
        var blognewvalue = document.getElementById("BlogSelector").value;
        if (blognewvalue != 0 || newvalue) {
            DisableUsername();
        }
        if (newvalue) {
            DisableBlogSelector();
        }
        if (blognewvalue != 0) {
            DisableCurrentUserOnly();
        }
    };
</script>

<link href='@Url.Content("~/css/Shared.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/css/SearchPostsFields.css")' rel="stylesheet" type="text/css" />

<form asp-controller="SearchPosts" asp-action="Search" id="SearchForm">
    <div class="search-div">
        <label class="search-label">@localizer["OnlyMy"]</label>
        <input type="checkbox" asp-for="CurrentUserOnly" id="OnlyCurrentUserCheckBox" onchange="OnCurrentUserOnlyChanged()" />
    </div>
    <div class="search-div" >
        <label class="search-label">@localizer["Username"]</label>
        <input asp-for="UserName" class="username" id="UsernameInput" />
    </div>
    <div class="search-div">
        <label class="search-label">@localizer["TagsOrWords"]</label>
        <textarea asp-for="TagsOrWords" class="tags-or-words" id="TagsOrWords"></textarea>
    </div>
    <div class="search-div">
        <label class="search-label">@localizer["MyBlogs"]</label>
        <select asp-for="BlogId" id="BlogSelector" onchange="OnBlogChanged()">
            @await Component.InvokeAsync("BlogsSelector", new { currentUserId = Model.CurrentUserId})
        </select>
    </div>
    <div>
        <button class="btn btn-success" style="margin:20px;" type="submit">@localizer["Search"]</button>
    </div>
</form>
