﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;
@inject IViewLocalizer localizer

@model TagsPostsSearchResultModel
@{
    ViewData["Title"] = "SearchResultPage";
    var searchTagsIds = Model.Tags.Select(t => t.Id).ToArray();
    ViewData["SearchTags"] = searchTagsIds;
    var independentTagModels = Model.Tags
        .Select(x => new TagModel { Id = x.Id, TagText = x.TagText})
        .ToList();
    independentTagModels.ForEach(x => x.IncludeSearchPosts = false);

}

<div>
    <a class="btn btn-default" href="@Url.Action("All", "SearchPosts")" style="margin:20px;">@localizer["Clear"]</a>
    <div style="margin:20px">
        <partial name="~/Views/Shared/_TagCollection.cshtml" for="@independentTagModels"/>
    </div>
    <div>
        @foreach (var post in Model.PostCollection)
        {
            <partial name="~/Views/Post/_ShortDisplayPost.cshtml" for="@post" />
        }
    </div>
@Html.PagedListPager((IPagedList)Model.PostCollection, page => Url.Action("Tags", "SearchPosts", new { tags =  searchTagsIds, page = page }))
</div>

