﻿.edit-component {
    width:1100px;
    margin:40px;
    display: block;
}

.edit-label{
    display: block;
    font-size:x-large;
    margin-left:40px;
    color:indigo;
}

.edit-button{
    margin:30px;
    width: 60px;
    font-size:large;
}

.comment {
    width: 900px;
    height: 300px;
}

.delete-tag-button {
    height : 25px;
    width : 25px;
    background-color : red;
    color : white;
}

#PostTags{
    margin-top:10px;
}

#postTextDiv{
    border: 1px solid black;
    height: fit-content;
    min-height: 300px;
    padding: 10px;
}

.addImageDiv {
    margin-left: 40px;
    margin-bottom: 10px;
}
