﻿.user {
    position: absolute;
    top: 70px;
    left: 42%;
    margin: 10px;
    padding: 5px;
}

.im-container {
    position:relative;
    width: 1200px;
    display:flex;
    justify-content: center;
    align-items: center;
}
