﻿.sidebar {
    height: 50px;
}

.user {
    margin: 10px;
    padding: 5px;
}

.sidebar.user-full-display-post{
    width: 100%;
}

.post-title {
    height: auto;
    width: auto;
    font-size: x-large;
    text-align:center;
}

.user-info {
    text-align: center;
}

.info-label{
    text-align:center;
    font-size:x-large;
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
