﻿@keyframes sidebar-animation{
    0% {opacity:0;}
    100%{opacity:1;}
}

#sidebar{
    height: 100%;
    width: 170px;
    position:absolute;
    left:0;
    margin: 20px;
    animation-name: sidebar-animation;
    animation-duration: 2.5s;
    animation-fill-mode:forwards;
}

.content-class
{
    left:210px;
}

.item{
    text-decoration:none;
    color: black;
    font-size: x-large;
}

.body-content{
    position:absolute;
}
