﻿.tag-card {
    height: 35px;
    width: auto;
    display: inline;
    font-size: medium;
    text-decoration: none;
    border: solid;
    border-width: 1px;
    border-color: brown;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: rgba(114, 63, 191, 0.20);
    margin-right: 7px;
    
    transition-property: box-shadow;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

.tag-card:hover {
    background-color: rgba(114, 63, 191, 0.3);
    box-shadow: 5px 5px 10px 10px lightpink;
}

.nohover{
    pointer-events:none;
}

.edit-tag-container {
    display: inline;
    margin-right: 10px;
}
