﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "PagedPostCollection";
    var posts = (IPagedList)ViewBag.Posts; 
}


<div>
    <div style="margin:10px 60px;">
        <a class="btn btn-default" asp-controller="Blog" asp-action="Blog" asp-route-id="@ViewBag.BlogId">@localizer["Back"]</a>
    </div>
</div>
<div >
    @foreach(var post in ViewBag.Posts)
    {
        <partial name="~/Views/Post/_ShortDisplayPost.cshtml" for="@post"/>
    }
    @Html.PagedListPager((IPagedList)ViewBag.Posts, page => Url.Action("Posts", "Blog", new { blogid = ViewBag.BlogId, page = page }))
</div>

