﻿@model EditBlogModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "EditBlog";
}

<link href='@Url.Content("~/css/EditComponents.css")' rel="stylesheet" type="text/css" />
 
<form action="" method="post" enctype="multipart/form-data">
    <div>
        @Html.HiddenFor(m => m.Id)
        <div>
            <label class="edit-label" for="Title">@localizer["Title"]</label>
            <textarea asp-for="BlogTitle" class="edit-component" style="font-size:large;height:100px;">@Model.BlogTitle</textarea>
            <span class="edit-component" asp-validation-for="BlogTitle"></span>
        </div>
        <div>
            <label class="edit-label">@localizer["Background"]</label>
            <input type="file" accept="image/*" asp-for="PhotoPath" class="edit-component" />
        </div>
    </div>
    <div>
        <button class="btn btn-success" type="submit" style="margin:30px" formaction="edit">@localizer["Save"]</button>
        <button class="btn btn-danger" type="submit" style="margin:30px" formaction="delete">@localizer["Delete"]</button>
        <button class="btn btn-default" type="submit" style="margin:30px" formaction="cancel">@localizer["Cancel"]</button>
    </div>
</form>


