﻿@model FullDisplayBlogModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "FullDisplayBlog";
    ViewBag.HideUserCard = true;
}

<script src='@Url.Content("~/lib/Microsoft.jQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.min.js")'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<link href='@Url.Content("~/css/InfoContainer.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/css/FullDisplayBlog.css")' rel="stylesheet" type="text/css" />

<div class="im-container">
    <div>
        <partial name="UserCard" for="@Model.Owner" />
    </div>
    <img src="@{@Model.PhotoPath}" default-src="defaultblog.png" height="350" width="1000" />
</div>

<div>
    <div class="info-label">
        <p>@Model.BlogTitle</p>
    </div>
    <div class="info-label">
        <p>@localizer["PostsAmount"]</p>
        @await Component.InvokeAsync("BlogPostsAmount", new { blogId = Model.Id })
    </div>
</div>

@if (Model.LatestPost != null)
{
    <div>
        <div class="info-label">
            <p>@localizer["LatestPost"]</p>
        </div>

        <partial name="~/Views/Post/_ShortDisplayPost.cshtml" for="@Model.LatestPost" />

        <div class="info-label">
            <a asp-controller="Blog" asp-action="Posts" asp-route-blogid="@Model.Id">@localizer["More"]</a>
        </div>
    </div>
}


